body{
    background-image: url("galaxy-3608029_1920.jpg");
    background-position: center;
    width: auto;
    height: 1280px;
    text-align: right;
}
button{
    width: 500px;
    height: 500px;
    color:aquamarine;
}
h1, h2{
    color:aquamarine;
}
  
